@{
    ViewBag.Title = "Contact Us | Zaropa";
}


<div class="container text-center mt-5" style="min-height:900px">
    <h1>Need to contact us?</h1>
    <h4>Send us an email</h4>
    <hr class="white w-50" />

    <address>
        210 Locust Street<br/>
        Floral Park, NY 11001<br/>
        (516) 850-3859<br/>
        <a href="mailto:zaropa.ny@veinternational.org">zaropa.ny@veinternational.org</a><br/>
        <a href="http://zaropa.me">zaropa.me</a><br/>
        
    </address>
</div>

