@model IEnumerable<ZaropaMVC.Models.StudentModels>
@{
    ViewBag.Title = "Home | Zaropa";
}


<div class="homepage-hero-module animated fadeIndelay view  mt-4" style="margin:-15px">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="~/Content/Mp4/the_bol.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="~/Content/Webm/the_bol.mp4" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster">

        </div>

        <div class="mask flex-center">
        </div>
    </div>
</div>
<div class="imageoverlay animated fadeIndelay">
    <div class="row pt-1 mt-1">
        <div class="col-md-12">
            <div class="text-center">
                <img src="~/Content/ZaropaLogoSpring.png" class="zaropa-hero-image" alt="Zaropa" />
                <br />
               
                <em>Style is in Our Soles!</em>
                <hr class="w-50 my-2 white"/>
                <p class="white-text lead mt-5 mb-0">Zaropa is a subscription-based clothing company that provides customized outfits designed to match with the shoe of your choice.  </p>
                
                @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn m-0 mx-1 zaropa-gradiant-redblack px-3 z-depth-0 mt-0" })
               <div>
                   @Html.ActionLink("Shop for Men", "ProductPage", "Products", new { genders = ZaropaMVC.Entities.Genders.Men }, new { @class = "btn m-0 mx-1 zaropa-gradiant-redblack  px-3 z-depth-0" })

                   @Html.ActionLink("Shop for Women", "ProductPage", "Products", new { genders = ZaropaMVC.Entities.Genders.Women }, new { @class = "btn m-0 mx-1 zaropa-gradiant-redblack  px-3 z-depth-0" })


               </div>
            </div>
        </div>
    </div>




</div>



<script>
    //jQuery is required to run this code


    

    $(document).ready(function () {

        scaleVideoContainer();

        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container .filter');
        initBannerVideoSize('.video-container video');

        $(window).on('resize', function () {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container .filter');
            scaleBannerVideoSize('.video-container video');
        });

    });

    function scaleVideoContainer() {

        var height = $(window).height() + 5;
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height', unitHeight);

    }

    function initBannerVideoSize(element) {

        $(element).each(function () {
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });

        scaleBannerVideoSize(element);

    }

    function scaleBannerVideoSize(element) {

        var windowWidth = $(window).width(),
            windowHeight = $(window).height() + 5,
            videoWidth,
            videoHeight;

        // console.log(windowHeight);

        $(element).each(function () {
            var videoAspectRatio = $(this).data('height') / $(this).data('width');

            $(this).width(windowWidth);

            if (windowWidth < 1000) {
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({ 'margin-top': 0, 'margin-left': -(videoWidth - windowWidth) / 2 + 'px' });

                $(this).width(videoWidth).height(videoHeight);
            }

            $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

        });
    }
</script>
