
@{
    ViewBag.Title = "Shop | Zaropa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid p-0">
 
  
        @{

            Html.RenderAction("GetTiers", "Products",new { genders = ViewBag.gender });
        }

    
</div>

