@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn mt-0 mx-1 zaropa-gradiant-redblack z-depth-0  px-3" })
        </li>
        <li><a class=" btn mx-1 mt-0 zaropa-gradiant-redblack  px-3 z-depth-0" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else 
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",@class= "btn mt-0 mx-1 zaropa-gradiant-redblack  px-3 z-depth-0" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account",routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn mt-0 mx-1 zaropa-gradiant-redblack  px-3 z-depth-0" })</li>
    </ul>
}
